body {
    background-color: #FFC1E9;
    text-align: center;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    color: purple;
    margin: 0 auto;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    font-size:25px;
    color: #ECAC28;
    margin: 0 40 auto;
}

#defaultCanvas0 {
  border: 5px solid brown;
}

