body {
    background-color: black;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: purple;
    margin: 0 auto;
}

h2 {
    font-size:25px;
    color: gray;
    margin: 0 40 auto;
}


